<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Faunex</string>
	<key>CFBundleIdentifier</key>
	<string>com.elga.Faunex</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show nearby EV charging stations. </string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>minty</string>
		<key>UIImageName</key>
		<string>Image</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
